*{
  box-sizing: border-box;
  margin: 0;
}
.container{
  height: 100vh;
  min-width: 300px;
  margin-inline:4px;
}
nav {
  background-color: aquamarine;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.nav-link{
  text-decoration: none;
  color: #2e0b59;
}
.nav-link:hover{
  color:#7e0b4e;
}
.calc-content {
  display: grid;
  justify-content: center;
  text-align: center;
}

#calc-input {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.message{
  text-align: center;
  color: #7e0b4e;
  padding: 5px;
}

#fib-numb {
  width: 15vw;
  margin-inline: 10px;
}

.history-content {
  text-align: center;
}

.tabulation{
  margin-left: 15px;
}
